# Project-specific ownership
/projects/miopen/ @BrianHarrisonAMD @BradPepersAMD @adickin-amd @JonathanLichtnerAMD
/projects/composablekernel/ @illsilin @carlushuang @qianfengz @aosewski @poyenc @geyyer @bartekxk @andriy-ca @afagaj @asleepzzz @tenpercent @ThomasNing @coderfeli
/projects/hipblas-common/ @bnemanich @daineAMD @TorreZuk
/projects/hipblas-common/**/CMakeLists.txt @ROCm/rocm-math-lib-build-infra
/projects/hipblas/ @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd
/projects/hipblaslt/ @jichangjichang @KKyang @vin-huang @imcarsonliao @hcman2 @Serge45 @Jinp800125 @TonyYHsieh @solaslin @aazz44ss @ellosel @AlexBrownAMD @bnemanich @msujon-AMD @babakpst
/projects/hipcub/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/hipfft/ @af-ayala @eng-flavio-teixeira @evetsso @feizheng10 @malcolmroberts
/projects/hiprand/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/hipsolver/ @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
/projects/hipsparse/ @ntrost57 @YvanMokwinski @jsandham
/projects/hipsparselt/ @vin-huang @jichangjichang @hcman2 @imcarsonliao @Jay0521 @alex391a
/projects/rocblas/ @amcamd @TorreZuk @mahmoodw @daineAMD @bragadeesh @NaveenElumalaiAMD @rkamd @yoichiyoshida @babakpst
/projects/rocfft/ @af-ayala @eng-flavio-teixeira @evetsso @feizheng10 @malcolmroberts
/projects/rocprim/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/rocrand/ @stanleytsang-amd @umfranzw @RobsonRLemos
/projects/rocsolver/ @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd @AGonzales-amd
/projects/rocsparse/ @ntrost57 @YvanMokwinski @jsandham @kliegeois
/shared/mxdatagenerator/ @ROCm/rocroller-developers
/shared/rocroller/ @ROCm/rocroller-developers
/shared/tensile/ @babakpst @yoichiyoshida @bragadeesh @AlexBrownAMD @ellosel @bstefanuk

# Build ownership
**/next-cmake/ @ROCm/rocm-math-lib-build-infra

# CI ownership
/.azuredevops/ @ROCm/external-ci

# Documentation ownership
**/*.md @ROCm/rocm-documentation
**/*.rst @ROCm/rocm-documentation
**/.readthedocs.yaml @ROCm/rocm-documentation
**/docs/ @ROCm/rocm-documentation
**/library/include/ @ROCm/rocm-documentation
